<?xml version='1.0' encoding='utf-8'?>
<widget id="at.msd.fh" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Egg.</name>
    <description>
        A minimalistic egg timer
    </description>
    <author email="johannes.pertl@edu.fh-joanneum.at" href="https://github.com/JohannesPertl">
    </author>

    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon src="www/img/egg.png" platform="android" width="57" height="57" density="mdpi" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <icon src="www/img/egg.png" platform="ios" width="57" height="57" density="mdpi" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="orientation" value="portrait" />
</widget>
